:host{
  display:block;
  height:100%;
}

.card{
  background:#4777c3;
  border-radius:16px;
  overflow:hidden;
  transition:all 0.3s ease;
  box-shadow:0 8px 20px rgba(0,0,0,0.4);
  display:flex;
  flex-direction:column;
  height:100%;
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.content{
  padding:18px;
  display:flex;
  flex-direction:column;
  flex-grow:1;
}

h3{
  margin:0 0 8px 0;
  font-size:18px;
}

.episode{
  font-size:12px;
  background:#ff0000;
  padding:4px 10px;
  border-radius:6px;
  margin-bottom:10px;
}

.summary{
  font-size:13px;
  color:#ffffff;
  line-height:1.4;
  margin-bottom:15px;

  display:-webkit-box;
  -webkit-box-orient:vertical;
  overflow:hidden;
}

.fav-btn{
  border:none;
  background:#ef4444;
  color:white;
  padding:8px 14px;
  border-radius:8px;
  cursor:pointer;
  transition:0.2s;
  margin-top:auto;
}

.fav-btn:hover{
  background:#dc2626;
}


@media (max-width:900px){

  .card img{
    height:200px;
  }

}

@media (max-width:600px){

  .card img{
    height:180px;
  }

  h3{
    font-size:16px;
  }

  .summary{
    font-size:12px;
  }

  .fav-btn{
    width:100%;
  }

}