<h1>Last Man Standing</h1>
<p>Last Man Standing is a comedy TV series about Mike Baxter, a traditional and outspoken man who works as 
  the marketing director for an outdoor sporting goods store.The show follows Mike as he tries to maintain 
  his values and perspective while living in a house with his wife and their three daughters, who often have 
  very different opinions and lifestyles.It focuses on family life, generational differences, and everyday 
  situations, using humor to show the challenges of balancing work, family, and personal beliefs.</p>

<input
  type="text"
  placeholder="Buscar episodio"
  [(ngModel)]="searchText"
  (input)="applyFilters()"
/>

<select
  [(ngModel)]="selectedSeason"
  (change)="applyFilters()">

  <option value="0">Todas</option>

  <option
    *ngFor="let s of seasons"
    [value]="s">

    Temporada {{s}}

  </option>

</select>

<h2>⭐ Favoritos</h2>

<app-card-list
  [apiList]="favorites"
  (favorite)="toggleFavorite($event)">
</app-card-list>

<h2>Episodios</h2>

<app-card-list
  [apiList]="filteredEpisodes"
  (favorite)="toggleFavorite($event)">
</app-card-list>